NODE_ENV
BASIC
AFTER_LINE
EMPTY
SINGLE_QUOTES
SINGLE_QUOTES_SPACED
DOUBLE_QUOTES
DOUBLE_QUOTES_SPACED
MULTILINE_VALUE
EXPAND_NEWLINES
DONT_EXPAND_UNQUOTED
DONT_EXPAND_SQUOTED
EQUAL_SIGNS
RETAIN_INNER_QUOTES
RETAIN_LEADING_DQUOTE
RETAIN_ESCAPED_LEADING_SQUOTE
RETAIN_TRAILING_DQUOTE
RETAIN_TRAILING_SQUOTE
RETAIN_INNER_QUOTES_AS_STRING
TRIM_SPACE_FROM_UNQUOTED
USERNAME
SPACED_KEY
BASIC_DOLLER_UNEXPAND
MACHINE
MACHINE_EXPAND
UNDEFINED_EXPAND
ESCAPED_EXPAND
MONGOLAB_DATABASE
MONGOLAB_USER
MONGOLAB_PASSWORD
MONGOLAB_DOMAIN
MONGOLAB_PORT
MONGOLAB_URI
MONGOLAB_USER_RECURSIVELY
MONGOLAB_URI_RECURSIVELY
REFERENCING_OTHER_FILES_VARIABLES
envdev
